body{

    background-color: black;

    font-family: "Nanum Pen Script", cursive;

    font-weight: 400;

    font-style: normal;

}

.terrifierAlignment{

    width: 100%;

    height: 100%;

    text-align: center;

}

.tableOneAlignment{

    padding-left: 41.5%;

    padding-right: 40%;

    font-size: 25px;

}

.terrifier{

    color: darkred;

    font-style:oblique ;

    font-weight: bolder;

    font-size: 200px;

    
}

.links{

    color: red;

}

a:visited{

    color: whitesmoke;

}

a:hover{ 

    color:darkred;

}

.oswald-uniquifier{

    font-family: "Oswald", sans-serif;

    font-optical-sizing: auto;

    font-weight: weight;

    font-style: normal;

    color: firebrick;
    
}

.filmPosters{

    height: 200px;

    width: 200px;

    border-radius: 46%;

    padding-left: 400%;

    padding-right: 400%;

}

.filmTitles{

    font-family: "Oswald", sans-serif;

    font-optical-sizing: auto;

    font-weight: weight;

    font-style: normal;

    color: firebrick;
    
    padding-left: 421%;

    padding-right: 50%;

}

.artTheClown{

    font-family: "Oswald", sans-serif;

    font-optical-sizing: auto;

    font-weight: weight;

    font-style: normal;

    color: firebrick;

    text-align: center;
    
}